#tPattern1{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#tPattern2{
    font-family: 'Playfair Display', serif;
    text-align: center;
}


body{
    background: rgb(202,215,231);
background: linear-gradient(90deg, rgba(202,215,231,1) 0%, rgba(254,254,255,1) 50%, rgba(161,140,46,1) 100%);
}

#pPattern1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    
}

#tPattern3{
    font-family: 'Inter', sans-serif;
}

#pPattern2{
    font-family: 'Inter', sans-serif;
    font-size: small;
}

.encPat3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bolder;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}


